/* @import 'font.css';
@import 'custom.css';
@import 'home.css';
@import 'Gardenia.css';
@import 'footer.css';
@import 'about.css';
@import 'navigation.css'; */

body p {
  font-family: 'HK Grotesk';
}
body span {
  font-family: 'HK Grotesk';
}
.container {
  background: black;
}
.font-size {
  font-size: 25px;
}
